<!DOCTYPE html>
<html lang="en">
<head>

     <title>TOR Library</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="/bootstrap.min.css">
     <link rel="stylesheet" href="/font-awesome.min.css">
     <link rel="stylesheet" href="/owl.carousel.css">
     <link rel="stylesheet" href="/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="/templatemo-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="#" class="navbar-brand">TOR Library</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="#top" class="smoothScroll">Home</a></li>
                         <li><a href="#courses" class="smoothScroll">New Arrivals</a></li>
                         <li><a href="#Picks" class="smoothScroll">Your Picks</a></li>
                         <li><a href="#Search" class="smoothScroll">Search</a></li>
                         <li><a href="#Feedback" class="smoothScroll">Feedback</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <!-- <li><a href="#"><i class="fa fa-phone"></i> +65 2244 1100</a></li> -->
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label"><%= name%></span> <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                   <li><a href="/maccount/<%= M_ID %>" class="smoothScroll">Account</a></li>
                                   <li><a href="/signout/<%= M_ID %>/1" class="smoothScroll">Sign Out</a></li>
                              </ul>
                          </li>
                         
                    </ul>
               </div>

          </div>
     </section>


     <!-- HOME -->
     <section id="home">
          <div class="row">

                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Minimum Human Interaction Library Portal</h1>
                                             <h3>Our online Portal provides you with all possible library features to keep huuman interaction at a bare minimum.</h3>
                                             <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-second">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Start Exploring Our Vast Treasure of Literary Works</h1>
                                             <a href="#Search" class="section-btn btn btn-default smoothScroll">Search Our Library</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-third">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1>Efficient Method to keep track of your picks</h1>
                                             <h3>Keeping Track of your Issued literary Works has never been easier... </h3>
                                             <a href="#Pickss" class="section-btn btn btn-default smoothScroll">Check out Your Picks</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          </div>
     </section>

     <!-- FEATURE -->
     <section id="feature">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>01</span>
                              <h3>New Arrivals</h3>
                              <p>Scroll Through The Newest Additions In Our Treasure Trove</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>02</span>
                              <h3>Books & Much More....</h3>
                              <p>You Can Look Through Our Database And Find Your Pick</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>03</span>
                              <h3>Your Picks</h3>
                              <p>Revisit Your Current Reading List And Add More Picks. The Sky's The Limit</p>
                         </div>
                    </div>

               </div>
          </div>
     </section>



     <!-- Courses -->
     <section id="courses">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h1>Hey, <%= name%>, </h1>
                              <h2>Checkout our New Arrivals!</h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-courses">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <!-- <div class="courses-image">
                                                       <img src="courses-image1.jpg" class="img-responsive" alt="">
                                                  </div> -->
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 12 / 7 / 2018</span>
                                                       <span><i class="fa fa-clock-o"></i> 7 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">The Hunger Games(The Hunger Games #1)</a></h3>
                                                  The Hunger Games is a 2008 dystopian novel by the American writer Suzanne Collins. It is written in the voice of 16-year-old Katniss Everdeen, who lives in the future, post-apocalyptic nation of Panem in North America. The Capitol, a highly advanced metropolis, exercises political control over the rest of the nation.
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="/author-image1.jpg" class="img-responsive" alt="">
                                                       <span> Suzanne Collins</span>
                                                  </div>
                                                  <div class="courses-price">
                                                       <a href="#"><span>USD 5</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <!-- <div class="courses-image">
                                                       <img src="courses-image2.jpg" class="img-responsive" alt="">
                                                  </div> -->
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 20 / 7 / 2018</span>
                                                       <span><i class="fa fa-clock-o"></i> 4.5 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">The Book Thief</a></h3>
                                                  The Book Thief is a historical novel by Australian author Markus Zusak, and is his most popular work. Published in 2005, The Book Thief became an international bestseller and was translated into 63 languages and sold 16 million copies. It was adapted into a 2013 feature film of the same name.
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="/author-image2.jpg" class="img-responsive" alt="">
                                                       <span>Markus Zusak </span>
                                                  </div>
                                                  <div class="courses-price">
                                                       <a href="#"><span>USD 3.25</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <!-- <div class="courses-image">
                                                       <img src="courses-image3.jpg" class="img-responsive" alt="">
                                                  </div> -->
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 15 / 8 / 2018</span>
                                                       <span><i class="fa fa-clock-o"></i> 6 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">The Fault in Our Stars</a></h3>
                                                  The Fault in Our Stars is a novel by John Green. It is his fourth solo novel, and sixth novel overall. It was published on January 10, 2012.
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="/author-image3.jpg" class="img-responsive" alt="">
                                                       <span>John Green</span>
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Free</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <!-- <div class="courses-image">
                                                       <img src="courses-image4.jpg" class="img-responsive" alt="">
                                                  </div> -->
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 10 / 8 / 2018</span>
                                                       <span><i class="fa fa-clock-o"></i> 8 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">The Perks of Being a Wallflower</a></h3>
                                                  The Perks of Being a Wallflower is a young adult coming-of-age epistolary novel by American writer Stephen Chbosky, which was first published on February 1, 1999, by Pocket Books. 
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="/author-image1.jpg" class="img-responsive" alt="">
                                                       <span>Stephen Chbosky</span>
                                                  </div>
                                                  <div class="courses-price">
                                                       <a href="#"><span>Free</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <!-- <div class="courses-image">
                                                       <img src="courses-image5.jpg" class="img-responsive" alt="">
                                                  </div> -->
                                                  <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 5 / 10 / 2018</span>
                                                       <span><i class="fa fa-clock-o"></i> 10 Hours</span>
                                                  </div>
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="#">Everything, Everything</a></h3>
                                                  Everything, Everything is the debut young adult novel by Jamaican-American author Nicola Yoon, first published by Delacorte Books for Young Readers in 2015. The novel centers around 18-year-old Madeline Whittier, who is being treated for severe combined immunodeficiency, also known as "bubble baby disease". 
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="/author-image2.jpg" class="img-responsive" alt="">
                                                       <span>Nicola Yoon</span>
                                                  </div>
                                                  <div class="courses-price free">
                                                       <a href="#"><span>Free</span></a>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                         </div>

               </div>
          </div>
     </section>


     <!-- Picks -->
     <section id="Picks">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Your Picks </h2>
                         </div>
                    </div>
                    <% if(rows.length === 0) { %>
                         <h3>You Have Nothing Borrowed</h3>
                    <% } else { %>
                    <% rows.forEach (row => { %>
                    <div class="col-md-3 col-sm-6">
                         <div class="Picks-thumb">
                              <div class="Picks-info">
                                   <%= row.Name %>
                              </div>
                              <ul class="social-icon">
                                   <a href="/mreturn/<%= M_ID %>/<%= row.L_ID %>/0"><button class="submit-btn form-control" id="form-submit">Return</button></a>
                              </ul>
                         </div>
                    </div>
                    <% }) } %>

                    
                    
                    
                    </div>
               </div>
          </div>
     </section>


     <!-- Search -->
     <section id="Search">
          <div class="container" style="height: 700px;">
               <div class="search-form" >
               <form  method="post" action="/search-req/<%= M_ID %>/<%= name%>">
                    <h2 >Search for Literary Work(s):</h2>
                    <input type="text" style="color: white;" name="key_word" class="search-control" placeholder="  Enter Author / Title Keyword(s)"  >
                    
                    <h2 style="margin-top: 30px;">Category:</h2>
                    <input type="radio" id="Newsletter" name="Category" value="Newsletter" style=" -webkit-transform: scale(1.8);" required="">
                    <label for="Newsletter" style="color: rgb(255, 255, 255);font-size: 20px;padding-left:1% ;padding-right: 2%;">Newsletter</label>
                    <input type="radio" id="Journal" name="Category" value="Journal" style="margin-left: 1.795px ;-webkit-transform: scale(1.8);" required="">
                    <label for="Journal" style="color: rgb(255, 255, 255);font-size: 20px;padding-left:1%;padding-right: 2%;">Journal</label>
                    <input type="radio" id="Book" name="Category" value="Book" style="margin-left: 1.795px ;-webkit-transform: scale(1.8);" required="">
                    <label for="Book" style="color: rgb(255, 255, 255);font-size: 20px;padding-left:1%;padding-right: 2%;" >Book</label>
                    <input type="radio" id="Article" name="Category" value = "Article" style="-webkit-transform: scale(1.8);" required="">
                    <label for="Article" style="color: rgb(255, 255, 255);font-size: 20px;padding-left:1%;padding-right: 2%;">Article</label>
              
                    <h2 style="margin-top: 30px;">Genre(s):</h2>
                    <div>
                        
                       
                         <input type="checkbox" id="Film-Noir" name="Genre" value="Film-Noir" style="margin-left: 1.795px ;-webkit-transform: scale(1.5);">
                         <label for="Film-Noir" style="color: rgb(255, 255, 255);font-size: 20px;padding-right: 1%;padding-left: 1.2%;">Film-Noir</label>
                    
                         <input type="checkbox" id="Thriller" name="Genre" value="Thriller" style="margin-left: 1.795px ;-webkit-transform: scale(1.5);">
                         <label for="Thriller" style="color: rgb(255, 255, 255);font-size: 20px;padding-right: 1%;padding-left: 1.2%;">Thriller</label>
                         <input type="checkbox" id="Western" name="Genre" value="Western" style="margin-left: 1.795px ;-webkit-transform: scale(1.5);">
                         <label for="Western" style="color: rgb(255, 255, 255);font-size: 20px;padding-right: 1%;padding-left: 1.2%;">Western</label>
                         <input type="checkbox" id="Fantasy" name="Genre" value="Fantasy" style="margin-left: 1.795px ;-webkit-transform: scale(1.5);">
                         <label for="Fantasy" style="color: rgb(255, 255, 255);font-size: 20px;padding-right: 1%;padding-left: 1.2%;">Fantasy</label>
                    
                         <input type="checkbox" id="Horror" name="Genre" value="Horror" style="margin-left: 1.795px ;-webkit-transform: scale(1.5);">
                         <label for="Horror" style="color: rgb(255, 255, 255);font-size: 20px;padding-right: 1%;padding-left: 1.2%;">Horror</label><br>
                         <input type="checkbox" id="Action" name="Genre" value="Action" style="margin-left: 1.795px ;-webkit-transform: scale(1.5);">
                         <label for="Action" style="color: rgb(255, 255, 255);font-size: 20px;padding-right: 1%;padding-left: 1%;">Action</label>
                         <input type="checkbox" id="Comedy" name="Genre" value="Comedy" style="margin-left: 1.795px ;-webkit-transform: scale(1.5);">
                         <label for="Comedy" style="color: rgb(255, 255, 255);font-size: 20px;padding-right: 1%;padding-left: 1.2%;">Comedy</label>
                         <input type="checkbox" id="Drama" name="Genre" value="Drama" style="margin-left: 1.795px ;-webkit-transform: scale(1.5);">
                         <label for="Drama" style="color: rgb(255, 255, 255);font-size: 20px;padding-right: 1%;padding-left: 1.2%;">Drama</label>
                        


                         <input type="checkbox" id="Romance" name="Genre" value="Romance" style="margin-left: 1.795px ;-webkit-transform: scale(1.5);">
                         <label for="Romance" style="color: rgb(255, 255, 255);font-size: 20px;padding-right: 1.9%;padding-left: 1.2%;">Romance</label>
                    
                         <input type="checkbox" id="War" name="Genre" value="War" style="margin-left: 1.795px ;-webkit-transform: scale(1.5);">
                         <label for="War" style="color: rgb(255, 255, 255);font-size: 20px;padding-right: 1%;padding-left: 1.2%;">War</label>
                         
                         
                    </div><br>
                    <button class="submit-btn form-control" id="form-submit" style="font-size: larger; width: 250px;" >Let's Go!</button>
               </form>
           </div>
          </div>
     </section> 


     <!-- Feedback -->
     <section id="Feedback">
          <div class="container" >
               <div class="row " >

                    <div class="col-md-6 col-sm-12" >
                         <% if(feed===1){ %>
                         <h2 style="text-align: center;" >Thankyou for your Feedback!</h2>
                         <% } else {%>
                         <form id="Feedback-form" role="form" action="/member/<%=M_ID %>/<%= name %>" method="post" >
                              <div class="section-title">
                                   <h2>Your Feedback is Valuable to us!</h2>
                              </div>

                              <div class="col-md-12 col-sm-12">

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required="" style="width:430px"></textarea>
                                   </div>

                              <div class="search-form" style=" background-color: #3f51b5;">
                                   <button class="submit-btn form-control" id="form-submit" style="border-radius: 50px;font-size: larger; width: 250px;" >Submit</button>
                                   <!-- <input type="submit" class="form-control" name="send message" value="Send Message" style="margin-left: 75%;">
                               -->
                              </div>

                         </form>
                         <% } %>
                    </div>

                    <div class="col-md-6 col-sm-12" >
                         <div class="Feedback-image">
                              <img src="/feedback.jpg" class="img-responsive" alt="Smiling Two Girls">
                         </div>
                    </div>

               </div>
          </div>
     </section>       

     <%- include('footer.ejs') %>
     <!-- FOOTER -->
     


     <!-- SCRIPTS -->
     <script src="/jquery.js"></script>
     <script src="/bootstrap.min.js"></script>
     <script src="/owl.carousel.min.js"></script>
     <script src="/smoothscroll.js"></script>
     <script src="/custom.js"></script>

</body>
</html>